body {
  padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.bg-light-gray {
  background-color: #f7f7f7;
}

.mbpc-page-header {
  height: 400px;
  background: url('img/header.png') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.mbpc-section {
  padding-top: 50px;
  padding-bottom: 20px;
}

.mbpc-section-heading {
  text-align: center;
}

.mbpc-section-attorney h4 {
  text-align: center;
}

.mbpc-section-attorney img {
  margin: 0 auto;
}

.mbpc-section-attorney p {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: justify;
  max-width: 400px;
}

.mbpc-section-areas-of-practice h4 {
  text-align: center;
}

.mbpc-section-areas-of-practice {
  text-align: justify;
}

.mbpc-section-areas-of-practice div.row {
  padding-top: 20px;
}
